recipe-details {
    position: relative;
    width: 20%;
    max-height: 1500px;
}

recipes-list {
    position: relative;
    width: 20%;
    float: left;
    margin-right: 70px;
}

search {
    position: relative;
    margin-left: 40px; 
}

.main-content {
    overflow: auto;
    min-height: 320px;
}

.page-navigation {
    position: relative;
    margin-left: 15%;
    display: inline-block;
}

.page-navigation > div {
    padding: 5px;
    background-color: purple;
    cursor: pointer;
}